#HomeDashboard {
    display: flex;

}

#Sidebar {
    flex: 1.5;
    background-color: #273443;
    a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    .icons {
        color: white;
        margin-right: 10px;

    }

    hr {
        color: #455465;
    }

    .activate {
        background-color: #D2EFEC;
        padding: 5px;
        width: 90%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        a {
            color: #273443;
        }

        .icons {
            color: #273443;

        }
    }

    .ones {
        padding-left: 20px;
    }

    .navBarHolder {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .fesSection {
            img {
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;


            li {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 20px;
                padding-right: 20px;

                &:hover {
                    background-color: #c2d1cf;
                    transition: all 1s;
                    width: 90%;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;

                    a {
                        color: #788a9e;
                    }

                    .icons {
                        color: #273443;

                    }
                }
            }

        }


    }
}

#MainContent {
    flex: 6;
    padding: 20px;

    .cardHolder {
        display: flex;
        padding: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .fes {
                width: 50px;
                border-radius: 50%;
                height: 50px;
                background: #D2EFEC;
            }

            h1 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 52px;
                line-height: 61px;

                /* identical to box height */
                display: flex;
                align-items: center;
                text-align: center;

                /* Color/Green/500 */
                color: #128C7E;
            }

            height: 300px;
            width: 400px;
            background: #FFFFFF;
            padding: 10px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04),
            0px 2px 2px rgba(0, 0, 0, 0.08),
            0px 4px 8px rgba(0, 0, 0, 0.12);
        }
    }
}


#NavBoard {

    .content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        .icon {
            color: gray;
        }

        .imgs {
            background-color: #273443;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            outline: none;
            border: none;

            img {
                height: 30px;
                width: 30px;
                object-fit: cover;
                border: none;
            }
        }
    }
}

#Team {}

.search {
    background-color: transparent;
    display: flex;
    align-items: center;

    .icon {
        background-color: #128c7e;
        color: white;
        font-size: 37px;
    }

    span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        margin-right: 0.5rem;
        color: #000000;
    }

    div {
        border: 1px solid #aaa7a7;

        input {
            border: none;
            outline: none;
            padding: 5px;
        }
    }
}


.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
margin-bottom: 2rem;
    span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }

    .iconz {
        color: #aab3b1;
    }

    .dropdown {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            padding: 8px;
            width: 200px;
            outline: none;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid rgb(99, 99, 99) !important;
        }
    }
}

.las {
    button {
        padding: 10px 20px;
        gap: 10px;

        width: 185px;
        height: 52px;
        color: white;
        background: #128C7E;
        border-radius: 8px;
    }
}

#FooterBoard {
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        color: #6D7D8B;

        ul {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
        }
    }
}
.paginate {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    a {
        color: gray;
    }

    .acts {
        a {
            color: #00c5ae;
        }
    }

    nav {
        display: flex;
        flex-direction: column;

        span {
            margin-left: 40%;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;

            /* identical to box height, or 136% */

            /* Color/Text/Grey/100 */
            color: #1c1e21;
        }
    }

    .btn {
        height: 50px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        border: 1px solid #0e9a6e;
        color: #0e9a6e;
    }
}