#Footer {
  background: #dae3ea;
  padding-top: 2.5rem;
  padding-bottom: 2rem;

  .footerContent {
    h1 {
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      color: #6d7d8b;
    }
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      li {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #6d7d8b;
      }
    }
    .iconHolder {
      display: flex;
      gap: 15px;
    }
  }
  .lasting {
    margin-top: 4rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6d7d8b;
  }
}
