#Home {
  .home {
    background-image: url("../assets/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    .mainContent {
      margin-top: 6rem;
      .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          width: 55%;
          text-align: center;
          font-weight: 800;
          font-size: 45px;
          line-height: 60px;
        }
      }
      .subTitle {
        width: 100%;
        display: flex;
        justify-content: center;
        p {
          width: 45%;
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 29px;
        }
      }
      .buttonHolder {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        .btnOne {
          border: 0;
          width: 12%;
          background-color: #5a4ff3;
          padding: 10px;
          border-radius: 8px;
          color: white;
        }
        .btnTwo {
          width: 12%;
          border: 1px solid #5a4ff3;
          padding: 10px;
          border-radius: 8px;
        }
      }
    }
  }

  .windowHolder {
    position: relative;
    top: -8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .BringFinancials {
    position: relative;
    top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h1 {
      color: #25313c;
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
    }
    p {
      width: 37%;
      text-align: center;
      color: #6d7d8b;
      font-weight: 600;
      font-size: 18px;
      line-height: 29px;
    }
  }
  .cardBody {
    margin-bottom: 5rem;
  }
  .planHolder {
    .plans {
      background-image: url("../assets/Landing\ page.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 800px;
      width: 100%;
      .planTitleHolder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 50px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #25313c;
          margin-top: 8rem;
          margin-bottom: 1rem;
        }
        p {
          width: 600px;
          font-weight: 600;
          font-size: 18px;
          line-height: 29px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #6d7d8b;
        }
      }
    }
  }
  .tryDemo {
    position: relative;
    top: -350px;
    width: 100%;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #dae3ea;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      width: 60%;
      color: #000000;
      margin-bottom: 1rem;
    }
    button {
      width: 20%;
      background: #5a4ff3;
      border-radius: 8px;
      outline: none;
      border: none;
      padding: 15px;
      color: white;
    }
  }
  .faq {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
    top: -230px;
  }
  .faqHolder {
    position: relative;
    top: -150px;
   .accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
}

.button:focus:not(:focus-visible) {
  outline: 0;
}
.accordion-button .collapsed{
outline: none !important;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
 .accordion-button {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
    .accordion-item {
      color: var(--bs-accordion-color);
      background-color: var(--bs-accordion-bg);
      border: none !important;
      border-bottom: 1px solid #000 !important;
      padding: 10px;
      border-radius: 0;
    }
  }
}
