#Invoice {
  background: #aaa7a7;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  .Invoice-container {
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    background-color: white;
    .invoice-header {
      padding: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04),
        0px 2px 2px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.12);
      .top {
        margin-left: 1rem;
        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 38px;
          color: #1c1e21;
        }
      }
      .right {
        margin-right: 1rem;
        .top {
          button {
            outline: none;
            border: 0;
            padding: 0.5rem;
            font-family: "Roboto";
            color: #ffffff;
            background: #128c7e;
            border-radius: 8px;
          }
        }
      }
    }
    .main {
      width: 90%;
      margin: 0 auto;
      margin-top: 2rem;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          h1 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 28px;
            color: #1c1e21;
          }
        }

        .right {
          h1 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 38px;
          }
          p {
            text-align: end;
          }
        }
        .inputHolder {
          display: flex;
          align-items: center;
          gap: 20px;
          .in-check {
            display: flex;
            gap: 5px;
            align-items: center;
            span {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 163.15%;
              display: flex;
              align-items: center;
              color: #46484a;
            }
          }
        }
      }
      form {
        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 28px;
          color: #1c1e21;
        }
        .name {
          .select {
            label {
              display: block;
              font-size: 16px;
              line-height: 163.15%;
              color: #25313c;
            }
            select.role {
              margin-bottom: 0.5rem;
              width: 100%;
              border: 0;
              padding: 14px;
              background: #ffffff;
              border: 1px solid #adb5bc;
              border-radius: 8px;
              color: #adb5bc;
              font-size: 16px;
            }
          }
          .btnHolder {
            width: 100%;
            align-items: center;
            justify-content: center;
            button {
              margin-top: 1rem;
              width: 100%;
              background-color: #ffffff;
              border: 1px solid #128c7e;
              color: #128c7e;
              outline: none;
              padding: 10px;
              border-radius: 8px;
            }
          }
        }
        .email-input {
          .p {
            padding-bottom: 1.5rem;
          }
        }
        .div {
          select.role {
            margin-bottom: 0.5rem;
            width: 100%;
            border: 0;
            padding: 14px;
            background: #ffffff;
            border: 1px solid #adb5bc;
            border-radius: 8px;
            color: #adb5bc;
            font-size: 16px;
          }
        }
        .tax-rate {
          width: 100%;
          display: flex;
          flex-direction: column;
          .radios {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;
            .check {
              input {
                width: 10%;
              }
              display: flex;
              align-items: center;
              gap: 5px;
              span {
                width: 150px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
        }
      }
      .button {
        display: flex;
        gap: 10px;
        .create {
          color: #128c7e;
          border: 1px solid #128c7e;
          padding: 8px;
          outline: none;
          width: 30%;
        }
        .delete {
          color: #dd4225;
          border: 1px solid #dd4225;
          padding: 8px;
          outline: none;
          width: 30%;
        }
      }
      .Message {
        .title {
          span {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 163.15%;
            color: #1c1e21;
          }
        }
        textarea {
          height: 200px;
          outline: none;
          border: 1px solid #d2d2d3;
          border-radius: 8px;
          color: #303030;
          padding-left: 0.5rem;
          &::placeholder {
            font-family: "Roboto";
            padding: 2rem;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 163.15%;
            color: #d2d2d3;
          }
        }
      }
      .upload {
        width: 100;
        .file {
          width: 75%;
          height: 200px;
          border: 1px dashed #46484a;
          border-radius: 8px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        .Total {
          display: flex;
          gap: 30px;
          h4 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
          }
          span {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            input {
              width: 50px;
              outline: none;
            }
          }
        }
      }
      .Process {
        .Message {
          .title {
            span {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 163.15%;
              color: #1c1e21;
            }
            .set {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 163.15%;
              display: flex;
              align-items: center;
              text-decoration-line: underline;
              color: #128c7e;
            }
          }
          textarea {
            height: 130px;
            outline: none;
            border: 1px solid #d2d2d3;
            border-radius: 8px;
            color: #303030;
            padding-left: 0.5rem;
            &::placeholder {
              font-family: "Roboto";
              padding: 2rem;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 163.15%;
              color: #d2d2d3;
            }
          }
        }
      }
      .UnpaidInvoices {
        margin-top: 2rem;
        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;

          /* Color/Text/Grey/100 */
          color: #1c1e21;
        }
        .Unallocate {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .Unallocated {
            width: 30%;
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 21px;

              /* identical to box height, or 131% */
              display: flex;
              align-items: center;

              /* Color/Text/Grey/80 */
              color: #46484a;
            }
            span {
              display: flex;
              border: 1px solid #d2d2d3;
              padding: 10px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
