#FormInput {
  .lable {
    label {
      font-weight: 600;
      font-size: 16px;
      line-height: 163.15%;
      color: #25313c;
    }
  }

  input {
    padding: 12px;
    border: 0;
    outline: none;
    width: 100%;
    background: #ffffff;
    border: 1px solid #adb5bc;
    border-radius: 8px;
    &::placeholder {
      color: #adb5bc;
      font-size: 16px;
      line-height: 163.15%;
    }
  }
}
